# registry=https://arco-dev-257394489443.d.codeartifact.us-west-2.amazonaws.com/npm/npm-store/
# //arco-dev-257394489443.d.codeartifact.us-west-2.amazonaws.com/npm/npm-store/:always-auth=true
# //arco-dev-257394489443.d.codeartifact.us-west-2.amazonaws.com/npm/npm-store/:_authToken=${CODEARTIFACT_AUTH_TOKEN}